<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Natural Language Processing</title>
</head>

<body>

  <header>
    <div>
      Logo
    </div>
  </header>

  <main>
    <section>
      <form onsubmit="return Client.handleSubmit(event)">
        <input id="url" type="url" name="input" value="" placeholder="enter the url ..." required />
        <button type="submit" name=""> Analyze </button>
      </form>
    </section>
    <section>
      <strong>Form Results: </strong>
      <div id="results">
        <p id="subjectivity"></p>
        <p id="confidence"></p>
        <p id="irony"></p>
        <p id="score_tag"></p>
      </div>
    </section>
  </main>

  <footer>
    <p>This is a footer</p>
  </footer>

  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>